In [1]:
f = open('../static/sitemap_full.xml', 'w')

In [2]:
f.write('<?xml version="1.0" encoding="UTF-8"?>\n')
f.write('<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">\n')

61

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/jkse/company_profiles.csv')
df.head()

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,zip,dcfDiff,dcf,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,PANI.JK,12850.0,-0.070,18062726,2.109276e+14,2.00,4640-19650,100.0,PT Pratama Abadi Nusa Industri Tbk,IDR,...,15720.0,22358.52163,-9608.521633,https://images.financialmodelingprep.com/symbo...,2018-09-18,True,False,True,False,False
1,AMRT.JK,2710.0,-0.028,21817149,1.125314e+14,28.68,2630-3650,-50.0,PT Sumber Alfaria Trijaya Tbk,IDR,...,15143.0,-4819.54606,7719.546059,https://images.financialmodelingprep.com/symbo...,2009-01-15,False,False,True,False,False
2,TOBA.JK,438.0,0.695,28058224,3.577510e+12,0.00,193-735,10.0,PT TBS Energi Utama Tbk,IDR,...,12190.0,294.24651,-0.246508,https://images.financialmodelingprep.com/symbo...,2012-07-06,False,False,True,False,False
3,TBLA.JK,605.0,0.773,1229659,3.569766e+12,75.00,575-720,5.0,PT Tunas Baru Lampung Tbk,IDR,...,12940.0,NaN,0.000000,https://images.financialmodelingprep.com/symbo...,2001-10-31,False,False,True,False,False
4,DMAS.JK,139.0,0.730,16917154,6.699536e+12,24.00,134-174,-3.0,PT Puradelta Lestari Tbk,IDR,...,NaN,-129.33861,271.338615,https://images.financialmodelingprep.com/symbo...,2015-05-29,False,False,True,False,False

In [5]:
stock_list = df[(df['lastDiv'] > 0) & (df['isActivelyTrading'] == True)].sort_values('mktCap', ascending=False)['symbol'][:100]

In [6]:
for stock in stock_list:
    f.write(f'<url><loc>https://panendividen.com/stock_picker?stock={stock}</loc><changefreq>weekly</changefreq><priority>0.8</priority></url>\n')

In [7]:
f.write('</urlset>\n')

10

In [8]:
f.close()